{% extends 'base.html.twig' %}

{% block title %}Mon panier - True Clothes Paris
{% endblock %}

{% block content %}
	<h1>Demande de renseignements en ligne</h1>
	Je souhaite être contacté pour avoir plus d'information sur les articles suivants :

	{% if cart|length > 0 %}
		<div class="table-responsive">
			<table class="table mt-3">
				<thead>
					<tr>
						<th scope="col">Produit</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					{% set total = null %}
					{% for product in cart %}
						<tr>
							<th>
								<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" height="100px"><br/>
							</th>
							<td>
								{{ product.name }}<br/>
								<small>{{ product.subtitle }}</small>
							</td>
							<td>
								<a href="{{ path('delete_to_cart',{'id': product.id}) }}">
									<img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer mon produit">
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="text-right mb-5">
			<b>Nombre de produit :</b>
			{{ cart|length }}<br/>
			<a href="{{ path('order') }}" class="btn btn-success btn-block mt-3 text-yellow background-grey border-grey">Envoyer
			</a>
		</div>
	{% else %}
		<hr>
		<p>
			<b>Votre liste est vide.</b>
		</p>
	{% endif %}

{% endblock %}
